# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Database
*.db
*.sqlite3

# Virtual Environment
venv/
env/

# Environment Variables
.env

# IDEs
.vscode/
.idea/

# Project Specific
static/results/*
!static/results/.gitkeep
models/*
!models/.gitkeep